<!DOCTYPE html>
<html lang="en">
  <head>
    {{>links}}
  </head>
  <body>
    <!-- Navbar section start -->
        {{>navbar}}
    <!-- Navbar section end -->
    {{!-- Main div start --}}
    <div class="container main_div">
      <div class="row">
        <div class="heading col-md-6 col-12">
          <h1 class="text-capitalize">Welcome {{username}}</h1>
        </div>
      </div>
    </div>
    {{!-- Main div end --}}
        {{>scripts}}
      </body>
</html>
