<!DOCTYPE html>
<html lang="en">
  <head>
    {{>links}}
  </head>
  <body>
    <!-- Navbar section start -->
        {{>navbar}}
    <!-- Navbar section end -->

    <!-- Registration form start -->
        {{>form}}
    <!-- Registration form end -->
        {{>scripts}}
      </body>
</html>
