* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
.navbar {
  height: 5.5rem;
  width: 100vw;
}
.navbar button {
  outline: none;
}
.navbar .logo_div {
  width: auto;
  display: flex;
  justify-content: center;
}
.navbar .logo_div a {
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar ul {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.6rem;
}
.navbar ul li a {
  color: #fff;
}
.navbar ul li a:hover {
  color: rgb(200, 247, 248);
  transform: all 0.2s ease;
}
.navbar .navbar-toggler {
  background: #fff;
}
.navbar .show ul,
.navbar .collapsing ul {
  margin-right: 60%;
}
.row {
  margin: 0;
  width: auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 5.5rem);
}
form label {
  font-size: 1.6rem;
}
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"] {
  height: 3.5rem;
  font-size: 1.4rem;
}
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus,
form input[type="date"]:focus {
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  font-size: 1.4rem;
}
form .button_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}
form .register_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}
form .register_div p {
  font-size: 1.3rem;
}
form .login_div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.6rem;
}
form .login_div p {
  font-size: 1.3rem;
}
form input[type="submit"] {
  width: 25%;
  height: 3rem;
  font-size: 1.3rem;
}
.main_div .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_div .row .heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
